.post--edit {
  border: 1px;
  border-style: groove;
  padding: 10px;
  margin-top: 1.5em;
}

.post--edit input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.post--edit textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  min-height: 150px;
}
