@import "~normalize.css/normalize.css";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* Common blocks */

.link {
  background-color: #eae5e4;
  color: black;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

/* Modifiers */

.blue {
  background-color: #9bd2e4;
}
