<%= link_to 'New post', new_post_path, class: 'link'  %>

<div class='posts'>
  <% posts.each do |post| %>
    <%= link_to post do %>
      <div class='posts--post'>
          <span class='title'><%= post.title %></span> by <%= post.user.email %>
      </div>
    <% end %>
  <% end %>
</div>
