.posts {
  margin-top: 1.5em;
}

.posts a {
  color: black;
  text-decoration: none;
}

.posts--post {
  border: 1px;
  border-style: groove;
  margin-bottom: 10px;
  padding: 10px;
}

.posts--post:hover {
  background-color: #f4f7fa;
  cursor: pointer;
}

.posts--post .title {
  font-weight: bold;
}
